# Delivery Time Prediction 
i) Data Profiling 

ii) Data Cleaning

iii) Missing-Value Treatment

iv) Exploratory Data Analysis

v) Feature Engineering = encoding , binning, combine correlated feat

vi) Data Preprocessing = split , scale , encode , pca dim reduce

vii) Modeling

In [4]:
#imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as masno

import timeit

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import GridSearchCV
from sklearn.svm import LinearSVC
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.tree import DecisionTreeClassifier
import warnings
from sklearn.exceptions import DataConversionWarning


warnings.filterwarnings("default", category=DataConversionWarning)

In [49]:
df=pd.read_csv("filEs/train.csv")
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

# i) Data Profiling

In [50]:
df.shape

(45593, 20)

In [52]:
df.sample(30)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
45549,0x1d07,COIMBRES03DEL03,36,4.1,11.025083,77.015393,11.085083,77.075393,17-03-2022,20:35:00,20:50:00,conditions Cloudy,Jam,1,Snack,scooter,1,No,Metropolitian,(min) 35
19930,0xbddc,INDORES13DEL02,28,4.8,22.745049,75.892471,22.765049,75.912471,03-03-2022,10:20:00,10:35:00,conditions Sunny,Low,1,Drinks,scooter,1,No,Metropolitian,(min) 17
38109,0xda6d,AGRRES06DEL02,25,5,0.000000,0.000000,0.050000,0.050000,17-02-2022,21:45:00,21:50:00,conditions Fog,Jam,0,Buffet,motorcycle,1,No,Urban,(min) 26
44566,0xcfdd,KNPRES02DEL03,26,4.6,26.471617,80.313564,26.531617,80.373564,15-02-2022,23:45:00,00:00:00,conditions Fog,Low,1,Meal,scooter,NaN,No,Urban,(min) 10
882,0xaad,COIMBRES17DEL03,NaN,NaN,11.026117,76.944652,11.116117,77.034652,18-03-2022,NaN,20:20:00,conditions Windy,Jam,0,Drinks,motorcycle,1,No,Metropolitian,(min) 26
27373,0xc5e7,AURGRES13DEL01,25,4.7,19.880256,75.323503,19.890256,75.333503,15-02-2022,11:40:00,11:45:00,conditions Windy,High,0,Drinks,motorcycle,1,No,Metropolitian,(min) 22
44232,0x589f,CHENRES18DEL02,35,4.8,12.981615,80.231598,13.111615,80.361598,29-03-2022,22:45:00,22:50:00,conditions Stormy,Low,0,Drinks,motorcycle,1,No,Metropolitian,(min) 28
21118,0x80ec,RANCHIRES18DEL01,32,5,23.351489,85.324253,23.361489,85.334253,21-03-2022,09:35:00,09:40:00,conditions Cloudy,Low,2,Buffet,motorcycle,1,No,Urban,(min) 16
41733,0x6914,HYDRES02DEL02,26,5,17.412330,78.449654,17.542330,78.579654,04-04-2022,22:55:00,23:10:00,conditions Windy,Low,0,Buffet,motorcycle,0,No,Metropolitian,(min) 15
5573,0xa21b,MYSRES08DEL03,28,4.7,12.297954,76.665169,12.327954,76.695169,19-03-2022,18:40:00,18:55:00,conditions Sunny,Medium,0,Meal,motorcycle,0,No,Metropolitian,(min) 17
25867,0x9fd1,SURRES20DEL01,23,4.8,21.152760,72.778059,21.192760,72.818059,28-03-2022,13:50:00,14:00:00,conditions Sandstorms,High,1,Snack,scooter,1,No,Metropolitian,(min) 21
41443,0xb535,COIMBRES13DEL02,20,4.5,11.003669,76.976494,11.053669,77.026494,01-04-2022,22:10:00,22:20:00,conditions Cloudy,Low,1,Snack,motorcycle,0,No,Urban,(min) 12
22886,0x3a32,PUNERES17DEL01,38,4.6,18.530963,73.828972,18.640963,73.938972,04-04-2022,23:50:00,23:55:00,conditions Windy,Low,0,Drinks,motorcycle,1,No,Metropolitian,(min) 24
39310,0x59af,VADRES06DEL02,38,4.7,22.312790,73.170283,22.332790,73.190283,03-04-2022,08:20:00,08:35:00,conditions Sunny,Low,2,Drinks,electric_scooter,0,No,Urban,(min) 14
19669,0x69b8,INDORES16DEL02,33,4.7,22.744648,75.894377,22.874648,76.024377,31-03-2022,20:50:00,20:55:00,conditions Stormy,Jam,2,Drinks,electric_scooter,1,No,Metropolitian,(min) 28
44430,0xfa4,HYDRES08DEL03,21,4.5,17.438263,78.397865,17.528263,78.487865,08-03-2022,22:15:00,22:20:00,conditions Windy,Low,2,Snack,electric_scooter,1,No,Metropolitian,(min) 18
17358,0x7861,PUNERES05DEL03,28,4.8,18.543626,73.905101,18.573626,73.935101,30-03-2022,20:30:00,20:35:00,conditions Windy,Jam,1,Buffet,motorcycle,0,No,Metropolitian,(min) 18
24607,0xe140,DEHRES010DEL02,28,4.9,30.328174,78.049117,30.348174,78.069117,11-02-2022,08:30:00,08:45:00,conditions Cloudy,Low,1,Drinks,motorcycle,0,No,Metropolitian,(min) 12
33196,0x4f40,SURRES14DEL03,25,4.5,21.157729,72.768726,21.187729,72.798726,07-03-2022,23:40:00,23:50:00,conditions Stormy,Low,2,Meal,scooter,0,No,Metropolitian,(min) 19
19560,0x26ef,SURRES11DEL01,34,3.8,21.157735,72.768778,21.267735,72.878778,06-03-2022,23:55:00,00:05:00,conditions Fog,Low,1,Meal,scooter,1,No,Urban,(min) 32
10215,0x5fd2,MYSRES16DEL03,37,4.6,12.316967,76.603067,12.406967,76.693067,08-03-2022,20:25:00,20:30:00,conditions Sandstorms,Jam,2,Meal,motorcycle,0,No,Metropolitian,(min) 27
16953,0x47a5,MYSRES03DEL03,34,4.5,12.299524,76.642620,12.389524,76.732620,06-04-2022,17:50:00,18:05:00,conditions Sunny,Medium,2,Buffet,electric_scooter,1,No,Metropolitian,(min) 26
19697,0xb21b,PUNERES02DEL01,23,4.6,18.551440,73.804855,18.661440,73.914855,29-03-2022,22:45:00,23:00:00,conditions Stormy,Low,1,Snack,scooter,0,No,Metropolitian,(min) 13
31323,0x99e,COIMBRES17DEL03,21,4.5,11.026117,76.944652,11.056117,76.974652,19-03-2022,22:10:00,22:15:00,conditions Cloudy,Low,2,Buffet,scooter,0,No,Urban,(min) 17
9667,0x5b6c,BANGRES03DEL01,33,4.9,12.979166,77.640709,13.019166,77.680709,13-03-2022,13:45:00,13:50:00,conditions Fog,High,1,Snack,scooter,1,No,Metropolitian,(min) 31
22034,0x21da,VADRES13DEL03,25,4.7,22.310237,73.158921,22.340237,73.188921,15-03-2022,22:10:00,22:20:00,conditions Stormy,Low,1,Buffet,motorcycle,0,No,Metropolitian,(min) 15
6478,0x703,COIMBRES010DEL02,NaN,NaN,11.003008,76.975440,11.083009,77.055440,27-03-2022,NaN,18:45:00,conditions Fog,Medium,0,Meal,motorcycle,1,No,Metropolitian,(min) 47
20626,0x7ff0,RANCHIRES20DEL01,36,4.8,23.399250,85.390464,23.409250,85.400464,26-03-2022,08:55:00,09:10:00,conditions Windy,Low,2,Snack,scooter,1,No,Metropolitian,(min) 22
16588,0x4a5e,RANCHIRES12DEL02,25,4.5,0.000000,0.000000,0.020000,0.020000,07-03-2022,10:50:00,11:00:00,conditions Stormy,Low,1,Meal,scooter,1,No,Metropolitian,(min) 17
43356,0x2c1e,MYSRES20DEL02,30,4.5,12.337978,76.616792,12.417978,76.696792,12-03-2022,22:55:00,23:05:00,conditions Windy,Low,2,Drinks,motorcycle,1,No,Urban,(min) 27

In [53]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  object
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(15)
memory usage: 7.0+ MB

In [54]:
df.isna().sum().sum()

0

In [59]:
df.iloc[6478,2]

'NaN '

In [61]:
(df=="NaN ").sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weatherconditions                 0
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken(min)                   0
dtype: Int64

#### Data are missing and in the form of object "NaN  " , so requires conversion

In [66]:
df.replace("NaN ",np.NaN)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35:00,11:45:00,conditions Windy,High,1,Meal,motorcycle,0,No,Metropolitian,(min) 32
45589,0xd641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55:00,20:10:00,conditions Windy,Jam,0,Buffet,motorcycle,1,No,Metropolitian,(min) 36
45590,0x4f8d,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50:00,00:05:00,conditions Cloudy,Low,1,Drinks,scooter,0,No,Metropolitian,(min) 16
45591,0x5eee,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35:00,13:40:00,conditions Cloudy,High,0,Snack,motorcycle,1,No,Metropolitian,(min) 26
45592,0x5fb2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10:00,17:15:00,conditions Fog,Medium,2,Snack,scooter,1,No,Metropolitian,(min) 36

In [67]:
df.isna().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [56]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           45593 non-null  object
 1   Delivery_person_ID           45593 non-null  object
 2   Delivery_person_Age          45593 non-null  string
 3   Delivery_person_Ratings      45593 non-null  object
 4   Restaurant_latitude          45593 non-null  float64
 5   Restaurant_longitude         45593 non-null  float64
 6   Delivery_location_latitude   45593 non-null  float64
 7   Delivery_location_longitude  45593 non-null  float64
 8   Order_Date                   45593 non-null  object
 9   Time_Orderd                  45593 non-null  object
 10  Time_Order_picked            45593 non-null  object
 11  Weatherconditions            45593 non-null  object
 12  Road_traffic_density         45593 non-null  object
 13  Vehicle_condition            45593 non-null  int64
 14  Type_of_order                45593 non-null  object
 15  Type_of_vehicle              45593 non-null  object
 16  multiple_deliveries          45593 non-null  object
 17  Festival                     45593 non-null  object
 18  City                         45593 non-null  object
 19  Time_taken(min)              45593 non-null  object
dtypes: float64(4), int64(1), object(14), string(1)
memory usage: 7.0+ MB

In [17]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Restaurant_latitude,45593.0,17.017729,8.185109,-30.905562,12.933284,18.546947,22.728163,30.914057
Restaurant_longitude,45593.0,70.231332,22.883647,-88.366217,73.170000,75.898497,78.044095,88.433452
Delivery_location_latitude,45593.0,17.465186,7.335122,0.010000,12.988453,18.633934,22.785049,31.054057
Delivery_location_longitude,45593.0,70.845702,21.118812,0.010000,73.280000,76.002574,78.107044,88.563452
Vehicle_condition,45593.0,1.023359,0.839065,0.000000,0.000000,1.000000,2.000000,3.000000

In [20]:
df.describe(exclude=np.number).T

                         count unique              top   freq
ID                       45593  45593          0x4607       1
Delivery_person_ID       45593   1320  PUNERES01DEL01      67
Delivery_person_Age      45593     23               35   2262
Delivery_person_Ratings  45593     29              4.8   7148
Order_Date               45593     44       15-03-2022   1192
Time_Orderd              45593    177             NaN    1731
Time_Order_picked        45593    193         21:30:00    496
Weatherconditions        45593      7   conditions Fog   7654
Road_traffic_density     45593      5             Low   15477
Type_of_order            45593      4           Snack   11533
Type_of_vehicle          45593      4      motorcycle   26435
multiple_deliveries      45593      5                1  28159
Festival                 45593      3              No   44469
City                     45593      4   Metropolitian   34093
Time_taken(min)          45593     45         (min) 26   2123

In [29]:
df.isna().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [27]:
df.Time_Orderd.value_counts()

Time_Orderd
NaN         1731
21:55:00     461
17:55:00     456
20:00:00     449
22:20:00     448
            ...
12:25:00      57
14:15:00      56
16:00:00      53
13:20:00      52
16:30:00      51
Name: count, Length: 177, dtype: int64